---
layout: page-fullwidth
title: "Publications"
subheadline: #"Reading Experience"
meta_teaser: #"Feeling Responsive uses Volkhov for headlines, Lato for everything else and if you are in need to show some code, it will be in Lucida Console."
teaser: "Need to enrich your caving library?"
header:
    image_fullwidth: stanislav-kondratiev-671841-unsplash.jpg
    background-color: #"#262930"
    caption: Photo by Stanislav Kondratiev on Unsplash
    caption_url: https://unsplash.com/
categories:
    - about
---

The Society has various books, maps and Bulletins available for sale. Please contact the <a href= "mailto:constructiondiver@bigpond.com">SUSS Librarian</a> for purchases, or come to a general meeting and pick them up.

<br>
<br>

{% for publication in site.data.publications %}

  <br>
  <div class="row align-top">
    <div class="small-3 columns"><img style="display:inline;" src="{{publication.thumbnail}}"></div>
    <div class="small-9 columns align-top">
      <h4>{{publication.name}} ({{publication.year}})</h4>
      <i>{{publication.description | markdownify}}</i>
      <b>Member Price:</b> ${{publication.member_price}}<br>
      <b>Non-Member Price:</b> ${{publication.nonmember_price}}
    </div>
  </div>

  <br>

{% endfor %}


title: "Out of Print Publications"
<br>

{% for publication in site.data.oldpublications %}

  <br>
  <div class="row align-top">
    <div class="small-3 columns"><img style="display:inline;" src="{{publication.thumbnail}}"></div>
    <div class="small-9 columns align-top">
      <h4>{{publication.name}} ({{publication.year}})</h4>
      <i>{{publication.description | markdownify}}</i>
    </div>
  </div>

  <br>

{% endfor %}
